#posts
  -if current_user
    - @posts.each do |post|
      .post
      %h2.title= link_to post.title, post
      %p.date
        Published
        = time_ago_in_words(post.created_at)
        ago
        = post.user.first_name
        = post.user.last_name
  -else
    You need to login to go further